<div class="primary ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui primary header">Signin</h2>
    <div class="ui large error form">
      <div class="ui horizontal raised segments">
        <div class="ui raised segment">
          <form (ngSubmit)="providerForm.valid && submit();" #providerForm="ngForm">
            <div class="field">
              <div class="ui left icon input">
                <i class="envelope icon"></i>
                <input type="email" name="email" placeholder="Email"  [(ngModel)]="signinData.email"
                  required email
                  #email="ngModel"/>
              </div>
            </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                class="ui compact error message">
                <div class="header">Invalid email</div>
                <div *ngIf="email.errors.required">
                    Email required.
                </div>
                <div *ngIf="email.errors.email">
                    Email is invalid.
                </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Password"  [(ngModel)]="signinData.password"
                  required minlength="8"
                  #password="ngModel"/>
              </div>
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                class="ui compact error message">
                <div class="header">Invalid password</div>
                <div *ngIf="password.errors.required">
                    Password required.
                </div>
            </div>
            <div class="ui horizontal divider">
              Or
            </div>
            <div class="ui horizontal list">
                <div *ngFor="let provider of providers" class="item">
                  <button [attr.class]="'ui circular icon button '+provider" >
                    <i [attr.class]="provider+' icon'"></i>
                  </button>
                </div>
            </div>
          </form>
        </div>
      </div>
      <div class="ui large form">
          <button class="ui large primary submit button"
            [disabled]="!providerForm.form.valid" (click)="signin();">Signin</button>
      </div>
    </div>
  </div>
</div>
